<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
">
    <!-- Bean do EmailService -->
    <bean id="emailService" class="com.altran.lab.spring.altranlabp2.EmailService" />
    
    <!-- Bean do SmsService -->
    <bean id="smsService" class="com.altran.lab.spring.altranlabp2.SmsService" />
    
    <!-- Injeção por setter -->
    <bean id="emailClient" class="com.altran.lab.spring.altranlabp2.MessageClient">
        <property name="messageService" ref="emailService" />
    </bean>
    
    <!-- Injeção por construtor -->
    <bean id="smsClient" class="com.altran.lab.spring.altranlabp2.MessageClient">
        <constructor-arg ref="smsService" />
    </bean>
</beans>
